*{
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    background-color: black;
}

.nav nav{
    position:absolute;
}

.nav ul{
    margin:0 auto;
}

.nav li{
    list-style: none;
    float: left;
    margin: 0 auto;
}

.nav a{
    display: flex;
    text-decoration: none;
    margin:20px; 
    color: #fff;
}

.background{
    position: absolute;
    width: 100%;
    top: 20;
    right: 0;
    z-index: -900;
    background-image: url(image/nightsky.jpg);
    background-size: contain;
    background-repeat: repeat-y;
}

.first-section, .second-section, .fourth-section, .fifth-section{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.third-section{
    width: 100vw;
    height: auto;
}

.image img{
    display: block;
    position: absolute;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: -200;
    width: 60vw;
    height: 60vh;
}

.box1{
    display: block;
    position: absolute;
    top:150px;
    bottom: 0;
    right:0;
    left: 0;
    margin: auto;
    width:50vw;
    height:50vh;
}

.box1 h2{
    text-align: center;
    font-size: 45px;
    color: #fff;
    z-index: 900;
}

.box1 p{
    font-size: 20px;
    text-align: center;
    color: #fff;
    z-index: 900;
}

.box2, .box11, .box12, .box15 {
    padding: 50px;
}

.box2 h2, .box11 h2, .box12 h2{
    font-size: 45px;
    color: #fff;
}

.box2 p, .box11 p, .box12 p{
    font-size: 20px;
    color: #fff;
}

.box3{
    display: flex;
}

.box4 h2{
    font-size: 45px;
    color: #fff;
}

.box4 p{
    font-size: 20px;
    color: #fff;
}

.mamewaza_weather{
    padding-top:40px;
    width: 60vw;
    margin:0 auto;
    z-index: 700;
}

.container1, .container2, .container3, .container4{
    display: flex;
    margin: 0 auto;
    width: 80vw;
    height: 50vh;
    align-items: center;
}

.box5, .box6, .box7, .box8, .box9 ,.box10,.box13,.box14{
    width: 50%;
}


.box5 img, .box8 img, .box9 img, .box13 img{
    width: 90%;
    margin: 0 auto;
}


.box6 h2, .box7 h2, .box10 h2{
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.box6 p, .box7 p, .box10 p{
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.box15 h2 {
    color: #fff;
    text-align: center;
    font-size: 45px;
}

.box15 p{
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.box16 p{
    font-size: 20px;
    color: #fff;
    padding: 8px;
    text-align: center;
}

.multiple-items{
    width: 80%;
    margin: 0 auto;
}

#slick img{
    height: auto;
    width: 100%;
    display: block;
}

footer{
    color: #fff;
    text-align: center;
    background-color: black;
}

@media all & (min-width:1900px){
    
    .box1{
    top:300px;
}
    
}
