*{
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
}

.nav nav{
    position:absolute;
    top:20px;
}

.nav ul{
    margin:0 auto;
}

.nav li{
    list-style: none;
    float: left;
}

.nav a{
    display: flex;
    text-decoration: none;
    margin:20px;
}

.background img{
    position: absolute;
    width: 100%;
    top: 20;
    right: 0;
    z-index: -900;
}

.first-section{
    width: 100vw;
    height: 100vh;
}

.box1{
    display: block;
    position: relative;
}

.box1 h2{
    text-align: center;
    font-size: 45px;
    color: #fff;
    padding: 40px;
}

.box1 p{
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 40px;    
}

.second-section{
    width: 100vw;
    height: 100vh;
}

.box2{

}

.box2 h2{
    font-size: 45px;
    color: #fff;
}

.box2 p{
    font-size: 20px;
    color: #fff;
}

.box3{
    display: flex;
    padding-top:200px;
}

.third-section{
    width: 100vw;
    height: 100vh;
}

.box4 h2{
    font-size: 45px;
    color: #fff;
}

.box4 p{
    font-size: 20px;
    color: #fff;
}

.mamewaza_weather{
    padding-top:40   px;
    width: 60vw;
    margin:0 auto;
    z-index: 700;
}

.fourth-section{}