*{
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    background-color: black;
}

.nav nav{
    position:absolute;
}

.nav ul{
    margin:0 auto;
}

.nav li{
    list-style: none;
    float: left;
    margin: 0 auto;
}

.nav a{
    display: flex;
    text-decoration: none;
    margin:20px; 
    color: #fff;
    font-size: 20px;
    font-family: "筑紫B丸ゴシック";
}

.header-section video{
    width: 100%;
    height: 100%;
/*    サイズをぴったり合わせる*/
    object-fit: cover;
    z-index: -900;
}

.background{
    position: absolute;
    width: 100%;
    top: 20;
    right: 0;
    z-index: -900;
    background-image: url(image/nightsky.jpg);
    background-size: contain;
    background-repeat: repeat-y;
}

.contain{
    max-width: 1024px;
    margin: auto auto;
/*    background-image: url(image/object1.png);*/
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.full-view{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.third-section{
    width: 100vw;
    height: auto;
    position: relative;
}

.image img{
    display: block;
    position: absolute;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.box1{
    background-image:url(image/object1.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    display: flex;
    flex-direction: column;
    padding-top:100px;    
}

.box1 h2{
    text-align: center;
    font-size: 45px;
    color: #fff;
    z-index: 900;
    font-family: "筑紫B丸ゴシック";
}

.box1 p{
    font-size: 20px;
    text-align: center;
    color: #fff;
    z-index: 900;
    font-family: "筑紫B丸ゴシック";
}

#weather img{
    position: relative;
    z-index: -200;
    width: 30vw;
    height: 30vh;
}

.box2{
    position: absolute;
    left: 0;
    top:10vh;
    z-index: 300;
    margin: auto;
    width: 50vw;
    height: 50vh;
    padding-left: 20px;
}

.box2 h2{
    font-size: 38px;
    color: #fff;
    z-index: 200;
    font-family: "Arvo";
}

.box2 p{
    font-size: 20px;
    color: #fff;
    z-index: 200;
    padding-left: 20px;
    font-family: "筑紫B丸ゴシック";
}

.planetarium{
    position: absolute;
    top:10vh;
    left:5vw;
}

.planetarium h2{
    font-size: 38px;
    color: #fff;
    z-index: 200;
    font-family: "Arvo";
}

.planetarium p{
   font-size: 20px;
    color: #fff;
    z-index: 200;
    font-family: "筑紫B丸ゴシック";
}

 .constellation {
     position: absolute;
     top:5vh;
     right:5vw;
}

.constellation h2{
    font-family: "Arvo";
}

.constellation p{
    font-family: "筑紫B丸ゴシック";
}

.box12 img{
    position: absolute;
    top:0;
    right:0;
    width: 30vw;
    z-index: -200;
}

 .box12 h2{
    font-size: 38px;
    color: #fff;
    z-index: 200;
}

.box12 p{
    font-size: 20px;
    color: #fff;
    z-index: 200;
}

.bx-wrapper{
   background:rgba(255,255,255,0)!important;
   border:none!important;
   box-shadow: none!important;
}

.box3{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
    width: 50vw;
    height: 50vh;
}

#spot img{
    position: absolute;
    top:0;
    right:20vw;
    z-index: -200;
    width: 35vw;
    height: 30vh;
}

.box4{
    position: absolute;
    top:10vh;
    right:0;
    width: 50vw;
    height: 50vh;
}

.box4 h2{
    font-size: 38px;
    color: #fff;
    z-index: 200;
    font-family: "Arvo";
}

.box4 p{
    font-size: 20px;
    color: #fff;
    z-index: 200;
    font-family: "筑紫B丸ゴシック";
}

.mamewaza_weather{
    padding-top:40px;
    width: 60vw;
    margin:0 auto;
    z-index: 700;
}

.container2, .container3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:200px;
}


.font{
    font-family: "筑紫B丸ゴシック";
    width: 500px;
    margin: 0 auto;
    color: #203764;
    z-index: 200;
}

.box6 h2{
    font-size: 30px;
    text-align: center;
}

.box6 p{
    font-size: 16px;
    text-align: center;
}

.left-box{
    width: 500px;
    margin: 20px;
    line-height: 2;
}

.right-box{
    width: 500px;
    margin: 20px;
    line-height: 2;
    position: relative;
}

.left-box img{
    width: 500px;
    margin: 0 auto;
}

.right-box img{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    width: 400px;
    height: 200px;
    z-index: -200;
}


.box11 img{
    width: 30vw;
    height: 30vh;
}

.box7 h2, .box10 h2{
    font-size: 30px;
    text-align: center;
}

.box7 p, .box10 p{
    font-size: 16px;
    text-align: center;
}

.container4 img{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    margin: auto;
    width: 1000px;
    height: 600px;
}

.box13 img{
    width:450px;
    height: 450px;
    z-index: 200;
    padding-bottom: 80px;
}

.box14 {
   position: absolute;
    top:600px;
    right:450px;
}

.box15 img{
    position: absolute;
    top:0;
    right:0;
    left:0;
    margin: auto;
    width: 30vw;
    height: 30vh;
    z-index: -50;
}

.ryuseigun{
    position: absolute;
    top:10vh;
    right:0;
    left:0;
    margin: auto;
    width: 30vw;
    height: 30vh;
    z-index: 10;
    font-family: "Arvo";
}


.ryuseigun h2 {
    color: #fff;
    text-align: center;
    font-size: 45px;
}

.ryuseigun p{
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: "筑紫B丸ゴシック";
}

.box16 img{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
    width: 50vw;
    height: 50vh;
    z-index: -200;
}

.information{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
    z-index: 200;
    width: 30vw;
    height: 30vh;
    color: #fff;
    font-size: 25px;
    font-family: "筑紫B丸ゴシック";
}

.slider{
    position: relative;
}

.slider img{
    position:absolute;
}

.slidemozi a{
    font-size: 10px;
}

.multiple-items{
    width: 80%;
    margin: 0 auto;
}

#slick img{
    height: auto;
    width: 100%;
    display: block;
}

footer{
    color: #fff;
    text-align: center;
    background-color: black;
}


/*ボタンの実装*/
HTML CSS Result Skip Results Iframe
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 0.5rem;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color {
  border-radius: 0;
  background: rgba(11, 14, 83, 0.82);
}

a.btn-border-shadow--color:before {
  border-radius: 0;
}

/*Bx-slliderの実装*/
.bx-viewport{
            height: 500px!Important;
        }
        .bxslider img {
            display: block;
            margin: 0 auto;
        }
        .parent{
            position: relative;
            display: flex;
        }
/*
        .parent .slidemozi{
            position: absolute;
            top: 0%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform:  translateX(-50%);
            -o-transform:  translateX(-50%);
            transform:  translateX(-50%);
        }
*/

.slidemozi{
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 200;
    font-family: "筑紫B丸ゴシック";
}

@font-face{
    font-family:'Arvo';
    src:url(./Arvo-Regular.ttf)
}

/*スマホ版のCSSを書いていきます*/
@media screen and (max-width: 480px){
    .nav{
        display: none;
    }
    
}
